@import "../../../globalVariables.scss";

.logo {
  @media (max-width: $Sm) {
    height: 0.75rem;
  }
  height: 1rem;
}

.ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  min-width: 240px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.link {
  color: $brown;
}

.signin {
  text-align: right;
  min-width: 90px;
}
