// Breakpoint Variables
$Xs: 320px;
$Sm: 540px;
$Md: 756px;
$Lg: 1024px;
$Xl: 1440px;

// Color Variables
$green-dark: #295d0779;
$green-pastel: #ccd5ae;
$green-light-pastel: #e9edc9;
$egg-white: #fefae0;
$beige: #faedcd;
$brown: #d4a373;
